<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(function () {
        $("#includedContent").load("/menubar");
    });
</script>
<style>
    .img-main {
        object-fit: contain;
        width: 44vw;
        height: 90vh;
        background-image: url(../static/image/image.jpg);
        background-position: center;
        background-size: cover;
        margin: 13px auto auto auto;
    }
</style>
    <body>
        <div id="includedContent"></div>
        <div class="img-main"></div>
    </body>
</html>