<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Write</title>
</head>

<style>
    .write {
        max-width: 100vw;
        height: 50vh;
        margin: auto;
        padding: 16px;
        text-align: center;
    }
    h1{
        font-size: 30px;
    }
    textarea{
        resize: none;
        width: 80vw;
        height: 50vh;
    }


</style>
<body>
<div id="includedContent"></div>
<div class="write">
    <h3>오늘 하루를 적어보세요</h3>

    <p>date
        <input value=""  type="text" id="datepicker">
    </p>
    <div class="in_text">
        <textarea id="text" value="" style="margin-top: 16px;" placeholder="내용을 입력해주세요" rows="20"
                  cols="80" required></textarea>
    </div>
         <input id="name_give" type="admin" />

        <input id="uploadFile"  name="img_give" type='file'  accept="image/*"  alt="파일첨부" value=""/>
        <input id="upload" onclick="fileCheck() " value="업로드" type="button" />





</div>

</body>

<script>
function submit(){

      let name = $('#name_give').val()
      let text = $('#text').val
      let date = $('#datepicker').val()
      let img = $('#uploadFile').val()

        $.ajax({
        type: "POST",
        url:  "/diaries",
        data: {img_give:img,text_give:text,date_give:date,name_give:name},
        success: function (response) {
           if(response["msg"] =='저장성공'){
                alert('업로드 완료')
                window.location.href='/'}
            else {
                alert(response['msg']);
                window.location.reload()
            }
            }

    })
}

    function fileCheck() {
        let fileName = $("#uploadFile").val();
        let ext = fileName.substring(fileName.lastIndexOf('.'), fileName.length).toUpperCase();
        if (ext == ".JPG" || ext == ".JPEG" || ext == ".PNG" || ext == ".GIF") {
            submit()
        } else {
            alert("jpg,jpeg,png,gif의 사진을 업로드 해주세요!")
            return false;
        }
    
}


    $(function () {
        //input을 datepicker로 선언
        $("#datepicker").datepicker({
            dateFormat: 'yy-mm-dd'
            , showOtherMonths: true
            , showMonthAfterYear: true
            , changeYear: true
            , changeMonth: true
            , showOn: "both"
            , buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif"
            , buttonImageOnly: true
            , buttonText: "선택"
            , yearSuffix: "년"
            , monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월']
            , monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월']
            , dayNamesMin: ['일', '월', '화', '수', '목', '금', '토']
            , dayNames: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일']
            , minDate: "-5Y"
            , maxDate: "+5y"
        });


        $('#datepicker').datepicker('setDate', 'today');
    });

 $('#myForm').submit(function() {
    $(this).ajaxSubmit(option);
    return false;});
     let option = {
    dataType : '',
    url: "/diaries",
    success: function(response){
        if(response['result']== "success")
        {alert(response['msg']);
        window.location.href='/';}
        else {
            alert(response['msg']);
            window.location.reload();
        }
    }

}

$(function () {
        $("#includedContent").load("/menubar");
    });


</script>
</html>