<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>Write</title>
</head>
<script type="text/javascript">
    function fileCheck(){
        let uploadFile =document.getElementById("uploadFile").files[0];
        let fileName = uploadFile.name;

        let ext = fileName.substring(fileName.lastIndexOf('.'));


        if(ext == ".jpg" || ext ==".jpeg" || ext == ".png" || ext == "gif" )
            return true;
        alert("파일 확장자를 확인해주세요(jpg,jpeg,png,gif) 가능")
            return false;}

    function write(){
        let img = $('#uploadFile').value();
        let text = $('#in_text').value();
        let date = $('#datepicker').value();
        let name = $('#name').value();
        $.ajax({
        type: "POST",
        url:  "/diaries",
        data: {img_give:img,text_give:text,date_give:date,name_give:name},
        success: function (response) {
            if (response["result"] == "success") {
                alert(response["msg"] );
            }
        }
    })}



 $(function() {
       //input을 datepicker로 선언
       $("#datepicker").datepicker({
           dateFormat: 'yy-mm-dd' //달력 날짜 형태
           ,showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
           ,showMonthAfterYear:true // 월- 년 순서가아닌 년도 - 월 순서
           ,changeYear: true //option값 년 선택 가능
           ,changeMonth: true //option값  월 선택 가능
           ,showOn: "both" //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시
           ,buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif" //버튼 이미지 경로
           ,buttonImageOnly: true //버튼 이미지만 깔끔하게 보이게함
           ,buttonText: "선택" //버튼 호버 텍스트
           ,yearSuffix: "년" //달력의 년도 부분 뒤 텍스트
           ,monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 텍스트
           ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 Tooltip
           ,dayNamesMin: ['일','월','화','수','목','금','토'] //달력의 요일 텍스트
           ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 Tooltip
           ,minDate: "-5Y" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
           ,maxDate: "+5y" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)
       });

       //초기값을 오늘 날짜로 설정해줘야 합니다.
       $('#datepicker').datepicker('setDate', 'today'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
   });




</script>
<style>
    .write {
        max-width: 100vw;
        height: 50vh;
        margin: auto;
        padding: 16px;
        text-align: center;
    }

  #datepicker{
      margin: auto;
  }
</style>
<body>


<div class="write">
    <h3>오늘 하루를 적어보세요</h3>
    <p>date
        <input type="text" id="datepicker"/>
    </p>

    <form enctype="multipart/form-data" action="" method="POST">
        <div class="in_text">
            <textarea style="margin-top: 16px;" name="content" placeholder="내용을 입력해주세요" rows="20" cols="80" required></textarea>
        </div>
        <input id="name"/>
        <input id="uploadFile"type='file' alt="파일첨부">
        <button id="upload" type="submit" onclick="fileCheck()">업로드</button>
        </form>


</div>

</body>
</html>